# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Identify commonly used languages is data science
* Identify commonly used libraries is data science
* Identify data science tools
* Evaluating arithmatic expressions in Python

Some of the popular languages that Data Scientists use are:
   1. Python
   2. R
   3. SQL
   4. Java
   5. Julia

Some of the commonly used libraries used by Data Scientists include:
   1. Pandas
   2. Numpy
   3. Matplotlist
   4. ggplot

| Data Science Tools |
|--------------------|
| R Studio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## Author
Wajeesha Prathiraja